* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	/*border: 1px solid black;*/
}

body {
	line-height: 1.5;
	font-family: "Baloo 2", sans-serif;
	font-optical-sizing: none;
	font-style: normal;
	text-align: center;
}

header {
	background-color: teal;
	height: 300px;
	box-shadow: 0px 0px 4px black;

	img {
		height: 100%;
		padding-top: 20px;
	}
}
header > ul {
	padding-top: 100px;
}

header > ul > li {
	text-align: center;
}

#section_bienvenue {
	padding: 20px 20px;
	text-align: center;
}

.article_bienvenue {
	padding: 2%;
	text-align: center;
	a {
		width: 500px;
	}
}

.article_bienvenue {
	margin: 0px 0px;
}

#section_services {
	padding: 20px 20px;
	text-align: center;
	background-color: teal;
	color: white;
	box-shadow: 0px 0px 4px black;
}
.article_services {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: 20px;
}
.card_services {
	color: white;
	width: 100px;
	padding: 10px;
	text-align: center;
}

#section_outils {
	padding: 20px 10%;
	color: black;
	box-shadow: 0px 0px 4px black;
	text-align: center;

	.article_outils {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 20px;

		.card_outils {
			color: black;
			width: 100px;
			padding: 10px;
		}
	}
}

#section_ressources {
	padding: 20px 10%;
	text-align: center;
	background-color: teal;
	color: white;
	box-shadow: 0px 0px 4px black;

	.article_ressources {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 10px;
		margin-top: 20px;
	}
	.card_ressources {
		color: white;
		width: 100px;
		padding: 10px;
	}
}
#section_projets {
	padding: 20px 10%;
	text-align: center;
	color: black;
	box-shadow: 0px 0px 4px black;
}
.article_projets {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding: 20px 10px;
	margin-top: 20px;
}
.card_projets {
	color: black;
	width: 300px;
	padding: 15px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 5px black;
}

.card_projets > a > p {
	color: black;
}

.card_projets > a > h4 {
	color: black;
	font-size: 20px;
}
.card_projets > a > img {
	width: 100%;
}
.card_projets:hover {
	background-color: #e1ad01;
	color: black;
	transition: 1s;
}

#section_cv {
	padding: 20px 20px;
	text-align: center;
	background-color: teal;
	color: white;
	box-shadow: 0px 0px 4px black;
	margin: auto;
}
#section_contact {
	padding: 20px 20px;
	text-align: center;
	color: black;
	box-shadow: 0px 0px 4px black;
}

footer {
	background-color: black;
	color: white;
	padding: 40px 2%;
	text-align: center;
	margin: 0px;
	padding-left: 0px;
}
footer > ul {
	list-style: none;
	margin: 10px auto;
	padding: 0px;
	margin: 0px;
}

h1 {
	font-size: 30px;
	color: teal;
}

h2 {
	font-size: 24px;
	color: teal;
	font-weight: bold;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 16px;
}

.info {
	font-size: 12px;
}
a {
	text-decoration: none;
	color: white;
}

.ico_card {
	width: 50px;
}
.button {
	background-color: #e1ad01;
	color: white;
	max-width: 300px;
	margin: 20px auto;
	box-shadow: 0px 0px 5px black;
	border-radius: 5px;
}

.button:hover {
	background-color: white;
	color: teal;
	transition: 1s;
}
/* .button > a {
	text-decoration: none;
	color: white;
} */
