* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --main-color: #3b6e47;
  --secondary-color: #f4c95d;
  --default-color: white;
}

body {
  line-height: 1.5;
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: none;
  font-style: normal;
  text-align: center;

  #section_bienvenue {
    padding: 20px 20px;
    p {
      width: 80%;
      margin: auto;
    }
  }

  #article_bienvenue {
    display: inline-block;
  }

  .métier {
    font-size: 22px;
  }

  #section_outils,
  #section_projets,
  #section_contact {
    padding: 50px 20px;
    box-shadow: 0 -4px 10px rgba(59, 110, 71, 0.15);
    background-color: var(--background-soft); /* pour contraste doux */
    p {
      width: 80%;
      margin: auto;
    }
  }

  #photo-pro {
    margin-top: 30px;
    height: 250px;
  }

  nav {
    background-color: var(--main-color);
  }

  #section_atouts,
  #section_ressources,
  #section_cv {
    background-color: var(--main-color);
    padding: 50px 20px;
    color: var(--default-color);
    p {
      width: 80%;
      margin: auto;
    }
  }

  article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 30px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 20px;
    list-style: none;
    li {
      margin: 10px 5px;
    }
  }

  figure {
    width: 85px;

    @media screen and (min-width: 850px) {
      width: 200px;
    }

    img {
      width: 60px;
    }
  }

  .projet {
    color: black;
    padding: 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width: 300px;
    margin: 10px;

    img {
      width: 100%;
      padding-bottom: 20px;
    }

    a {
      padding: 100px 0;
      color: var(--main-color);
      text-decoration: none;
      list-style: none;
    }
  }

  .projet:hover {
    background-color: var(--secondary-color);
    transition: 1s;
    list-style: none;
  }

  h1 {
    padding-top: 30px;
  }

  strong {
    color: var(--secondary-color);
  }

  .button {
    background-color: var(--secondary-color);
    color: black;
    padding: 3px 10px;
    box-shadow: 0px 0px 5px black;
    border-radius: 5px;
    width: 300px;
  }

  .button:hover {
    background-color: var(--default-color);
    color: var(--main-color);
    transition: 1s;
  }

  footer {
    background-color: black;
    color: var(--default-color);
    margin-top: 20px;
    p {
      padding-top: 20px;
    }
  }

  /* page histoire */

  .histoire {
    display: inline-block;
    border: 3px solid var(--main-color);
    padding: 20px;
    margin: 20px;
    width: 75%;

    h1 {
      padding-bottom: 30px;
    }

    h2 {
      color: var(--main-color);
      text-align: left;
    }

    p {
      text-align: justify;
      padding-bottom: 20px;
    }
    .signature {
      color: var(--secondary-color);
      text-align: right;
    }
  }

  div {
    margin-top: 20px;
  }
}
