.histoire-sstitre {
  margin-top: 30px;
  font-weight: bolder;
  color: teal;
}

.histoire-corps {
  border: 2px solid teal;
  margin: 30px;
  padding: 30px;
}

.divhistoire > p {
  text-align: justify;
}

.histoire-signature {
  font-size: 20px;
  padding: 0px 5% 0px 0px;
  text-align: right;
}

.article_bienvenue {
  margin: 10px 20px;
}
